{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- NAVBAR -->
    <div class="barre-navigation">
        <a href="{% url 'signup' %}">Inscription</a>
    </div>

    <!-- CONTENU -->
    <div class="container">
        <section>
            <h1>Connexion</h1>

            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <p style="color:red;">
                        Identifiant ou mot de passe incorrect
                    </p>
                {% endif %}

                <div class="champ-formulaire">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>

                <div class="champ-formulaire">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>

                <button type="submit" class="bouton-reserver">
                    Se connecter
                </button>
            </form>

        </section>
    </div>

</body>
</html>